<!-- Titlebar
================================================== -->
<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>车友社区</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">博客</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

<div class="twelve columns">
    <div class="extra-padding">

        <!-- Post -->
        <article class="post">

            <figure class="post-img">
                <a href="blog-single-post.html"><img src="img/blog-01.jpg" alt="">
                    <div class="hover-icon"></div>
                </a>
            </figure>

            <section class="date">
                <span class="day">31</span>
                <span class="month">五月</span>
            </section>

            <section class="post-content">

                <header class="meta">
                    <h2><a href="blog-single-post.html">用车朋友请注意：每2-4万公里应定期清洗发动机润滑系统积碳 </a></h2>
                    <span><i class="fa fa-user"></i><a href="#">Wesley</a></span>
                    <span><i class="fa fa-tag"></i><a href="#">保养</a>, <a href="#">发动机</a></span>
                    <span><i class="fa fa-comment"></i><a href="#">4条评论</a></span>
                </header>

                <p>用车朋友请注意：每2-4万公里应定期清洗发动机润滑系统积碳。
                    活塞环中的油环因积碳阻碍,影响布油，致使活塞与气缸壁之间无油膜，当活塞往复运动时，此处就会因为摩擦而温度升高，造成缸壁发黑，长期运行便出现拉缸（如图1、2、3、4、5所示）。
                    积碳过多，致使油道阻塞，造成拉轴现象...</p>

                <a href="blog-single-post.html" class="button color">更多</a>

            </section>

        </article>
        <!-- Post / End -->


        <!-- Post -->
        <article class="post">

            <figure class="post-img">
                <div id="basic-slider" class="royalSlider rsDefault">
                    <a href="img/blog-02-big.jpg" class="mfp-gallery" title="First Image Title"><img class="rsImg" src="img/blog-02.jpg" alt="" /><span class="royal-caption">马自达六</span></a>
                    <a href="img/blog-03-big.jpg" class="mfp-gallery" title="Second Image Title"><img class="rsImg" src="img/blog-03.jpg" alt="" /><span class="royal-caption">解体检查摩圣的清洗和修复效果</span></a>
                </div>
                <div class="clearfix"></div>
            </figure>

            <section class="date">
                <span class="day">16</span>
                <span class="month">五月</span>
            </section>

            <section class="post-content">

                <header class="meta">
                    <h2><a href="blog-single-post.html">摩圣治理烧机油成功案例分享</a></h2>
                    <span><i class="fa fa-user"></i><a href="#">Ryan</a></span>
                    <span><i class="fa fa-tag"></i><a href="#">机油</a>, <a href="#">保养</a></span>
                    <span><i class="fa fa-comment"></i><a href="#">12条评论</a></span>
                </header>

                <p>此车行驶1千公里约耗机油1升，经摩圣施工和换气门油封后，行驶1千8百公里后机油刻度到油尺下点止位置。
                    内窥镜检查到气门油封依然漏油，怀疑为气门与导管之间间隙过大，造成气门油封过度磨损，从而导致气门油封继续漏油。 </p>

                <a href="blog-single-post.html" class="button color">更多</a>

            </section>

        </article>
        <!-- Post / End -->


        <!-- Post -->
        <!--<article class="post">-->

        <!--<figure class="post-img">-->
        <!--<a href="blog-single-post.html"><img src="images/blog-03.jpg" alt="">-->
        <!--<div class="hover-icon"></div>-->
        <!--</a>-->
        <!--</figure>-->

        <!--<section class="date">-->
        <!--<span class="day">10</span>-->
        <!--<span class="month">May</span>-->
        <!--</section>-->

        <!--<section class="post-content">-->

        <!--<header class="meta">-->
        <!--<h2><a href="blog-single-post.html">Online Shopping Hit New Highs on Mobile Sales</a></h2>-->
        <!--<span><i class="fa fa-user"></i>By <a href="#">admin</a></span>-->
        <!--<span><i class="fa fa-tag"></i><a href="#">Weather</a>, <a href="#">Fitness</a></span>-->
        <!--<span><i class="fa fa-comment"></i>With <a href="#">7 Comments</a></span>-->
        <!--</header>-->

        <!--<p>Maecenas placerat bibendum eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum. Vestibulum varius hendrerit turpis quiseam cursus. Donec bibendum vestibulum gravida. Pellentesque condimentum orci vel leo laoreet accumsan interdum eros vel sapien tincidunt dignissim. Integer mauris lacus consequat.</p>-->

        <!--<a href="blog-single-post.html" class="button color">Read More</a>-->

        <!--</section>-->

        <!--</article>-->
        <!-- Post / End -->

        <div class="clearfix"></div>

        <!-- Pagination -->
        <div class="pagination-container">
            <nav class="pagination">
                <ul>
                    <li><a href="#" class="current-page">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </nav>

            <nav class="pagination-next-prev">
                <ul>
                    <li><a href="#" class="prev"></a></li>
                    <li><a href="#" class="next"></a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>

<!-- Sidebar
================================================== -->
<div class="four columns">

    <!-- About -->
    <div class="widget margin-top-0">
        <h3 class="headline">介绍</h3><span class="line"></span><div class="clearfix"></div>
        <p>iCar 车友论坛</p>
    </div>


    <!-- Categories -->
    <div class="widget">
        <h3 class="headline">目录</h3><span class="line"></span><div class="clearfix"></div>
        <nav class="categories">
            <ul>
                <li><a href="#">汽车保养</a></li>
                <li><a href="#">汽车杂谈</a></li>
                <li><a href="#">汽车美容</a></li>
                <li><a href="#">日常维护</a></li>
                <li><a href="#">车祸教训</a></li>
            </ul>
        </nav>
    </div>


    <!-- Tabs -->
    <div class="widget margin-top-40">

        <ul class="tabs-nav blog">
            <li class="active"><a href="#tab1">热门</a></li>
            <li><a href="#tab2">专题</a></li>
            <li><a href="#tab3">最近访问</a></li>
        </ul>

        <!-- Tabs Content -->
        <div class="tabs-container">

            <div class="tab-content" id="tab1">

                <!-- Recent Posts -->
                <ul class="widget-tabs">

                    <!-- Post #1 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">最近的文章</a></h4>
                            <span>05/26/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <!-- Post #2 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">如何养车呢？</a></h4>
                            <span>04/20/2014</span>
                        </div>
                        <div class="clearfix"></div>

                    </li>

                    <!-- Post #3 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">线上保养的优劣</a></h4>
                            <span>10/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>

            </div>

            <div class="tab-content" id="tab2">

                <!-- Featured Posts -->
                <ul class="widget-tabs">

                    <!-- Post #1 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">如何选择适合的保养项目。</a></h4>
                            <span>19/04/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <!-- Post #2 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">电动车的保养前景</a></h4>
                            <span>28/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <!-- Post #3 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">用互联网思维思考汽车保养市场</a></h4>
                            <span>03/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="tab3">

                <!-- Recent Posts -->
                <ul class="widget-tabs">

                    <!-- Post #1 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">呵呵哈哈呵呵</a></h4>
                            <span>31/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <!-- Post #2 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">如何挑选机油</a></h4>
                            <span>16/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <!-- Post #3 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">在线保养，用最优配置做最好的服务</a></h4>
                            <span>10/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>

        </div>

    </div>


    <!-- Tags -->
    <div class="widget margin-top-10">
        <h3 class="headline">标签</h3><span class="line"></span><div class="clearfix"></div>

        <nav class="tags">
            <a href="#">摩圣</a>
            <a href="#">电子狗</a>
            <a href="#">雷达测速</a>
            <a href="#">善领</a>
            <a href="#">汽车</a>
            <a href="#">汽车保养</a>
            <a href="#">Ryan</a>
            <a href="#">Wesley</a>
        </nav>
    </div>

    <br>
    <br>

</div>


</div>
<!-- Container / End -->