<!-- Titlebar
================================================== -->
<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>车友社区</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">博客</a></li>
                    <!--<li>Single Post</li>-->
                </ul>
            </nav>
        </div>
    </div>
</section>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

<div class="twelve columns">
    <div class="extra-padding">

        <!-- Post -->
        <article class="post single">

            <figure class="post-img">
                <a href="images/blog-01-big.jpg" class="mfp-image" title="First Image Title"><img src="images/blog-01.jpg" alt="">
                    <div class="hover-icon"></div>
                </a>
            </figure>

            <section class="date">
                <span class="day">31</span>
                <span class="month">五月</span>
            </section>

            <section class="post-content">

                <header class="meta">
                    <h2><a href="#">怎么检查汽车变速箱油，多久换一次？</a></h2>
                    <span><i class="fa fa-user"></i>By <a href="#">Ryan</a></span>
                    <span><i class="fa fa-tag"></i><a href="#">保养</a>, <a href="#">变速箱</a></span>
                    <span><i class="fa fa-comment"></i><a href="#">4条评论</a></span>
                </header>

                <p>　自动挡汽车驾驶起来比较方便，因此也成为很多人买车考量的因素，但是自动变速器的保养却相对比较复杂，需要定期更换变速箱油。那么应该多久更换一次变速箱油？又该怎么正确更换呢？</p>
                <!--<blockquote>Mauris aliquet ultricies ante, non faucibus ante gravida sed. Sed ultrices pellentesque purus, vulputate volutpat ipsum hendrerit sed neque sed sapien rutrum laoreet justo ultrices. In pellentesque lorem condimentum dui morbi pulvinar dui non quam pretium ut lacinia tortor.</blockquote>-->
                <p>自动变速器油简称ATF(Automatic Transmission Fluid )，是专门用于自动变速器的油液。早期的自动变速器没有专用油液，而是用发动机油代替。由于工作状况和技术要求差异很大，所以发动机油作为自动变速器油液的方法很快被淘汰。如今使用的自动变速器专用油液既是液力变矩器的传动油，又是行星齿轮结构的润滑油和换挡装置的液压油。</p>
                <p class="margin-reset">装备自动变速器的汽车越来越多。有了自动变速器，人们可以在一脚油、一脚刹车之间，完成对汽车的控制，难怪有人称自动挡车为“傻瓜车”。自动变速器的主要保养内容，就是对ATF的检查和更换。做好了自动变速器油的添加，检查和更换，实际上就是做好了自动变速器的保养</p>

                <!-- Share Buttons -->
                <div class="share-buttons">
                    <ul>
                        <li><a href="#">分享</a></li>
                        <li class="share-facebook"><a href="#">新浪微博</a></li>
                        <li class="share-twitter"><a href="#">腾讯微博</a></li>
                        <!--<li class="share-gplus"><a href="#">Google Plus</a></li>-->
                        <!--<li class="share-pinit"><a href="#">Pin It</a></li>-->
                    </ul>
                </div>
                <div class="clearfix"></div>

            </section>

        </article>
        <!-- Post / End -->


        <!-- Comments
        ================================================== -->
        <h3 class="headline">评论 <span class="comments-amount">(4)</span></h3><span class="line"></span><div class="clearfix"></div>

        <!-- Reviews -->
        <section class="comments">

            <ul>
                <li>
                    <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                    <div class="comment-content"><div class="arrow-comment"></div>
                        <div class="comment-by"><strong>Barry</strong><span class="date">5/28/2014</span>
                            <span class="reply"><a href="#"><i class="fa fa-reply"></i> 回复</a></span>
                        </div>
                        <p>博主说的太棒了。。。</p>
                    </div>

                    <!-- Second Level -->
                    <ul>
                        <li>
                            <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                            <div class="comment-content"><div class="arrow-comment"></div>
                                <div class="comment-by"><strong>Sonic</strong><span class="date">5/28/2014</span>
                                    <span class="reply"><a href="#"><i class="fa fa-reply"></i> 回复</a></span>
                                </div>
                                <p>是很棒.</p>
                            </div>
                        </li>
                    </ul>

                </li>

                <li>
                    <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                    <div class="comment-content"><div class="arrow-comment"></div>
                        <div class="comment-by"><strong>Ryan</strong><span class="date">5/18/2014</span>
                            <span class="reply"><a href="#"><i class="fa fa-reply"></i> 回复</a></span>
                        </div>
                        <p>自己顶一下</p>
                    </div>
                </li>

                <li>
                    <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /> </div>
                    <div class="comment-content"><div class="arrow-comment"></div>
                        <div class="comment-by"><strong>Wesley</strong><span class="date">5/10/2014</span>
                            <span class="reply"><a href="#"><i class="fa fa-reply"></i> 回复</a></span>
                        </div>
                        <p>恩恩，是不错啊。</p>
                    </div>

                </li>
            </ul>

        </section>
        <div class="clearfix"></div>
        <br>


        <!-- Add Comment
        ================================================== -->

        <h3 class="headline">添加评论</h3><span class="line margin-bottom-35"></span><div class="clearfix"></div>

        <!-- Add Comment Form -->
        <form id="add-comment" class="add-comment">
            <fieldset>

                <div>
                    <label>姓名:</label>
                    <input type="text" value="">
                </div>

                <div>
                    <label>邮箱: <span>*</span></label>
                    <input type="text" value="">
                </div>

                <div>
                    <label>评论: <span>*</span></label>
                    <textarea cols="40" rows="3"></textarea>
                </div>

            </fieldset>

            <a href="#" class="button color">回复</a>
            <div class="clearfix"></div>

        </form>



    </div>
</div>

<!-- Sidebar
================================================== -->
<div class="four columns">

    <!-- About -->
    <div class="widget margin-top-0">
        <h3 class="headline">介绍</h3><span class="line"></span><div class="clearfix"></div>
        <p>iCar 车友论坛</p>
    </div>


    <!-- Categories -->
    <div class="widget">
        <h3 class="headline">目录</h3><span class="line"></span><div class="clearfix"></div>
        <nav class="categories">
            <ul>
                <li><a href="#">汽车保养</a></li>
                <li><a href="#">汽车杂谈</a></li>
                <li><a href="#">汽车美容</a></li>
                <li><a href="#">日常维护</a></li>
                <li><a href="#">车祸教训</a></li>
            </ul>
        </nav>
    </div>


    <!-- Tabs -->
    <div class="widget margin-top-40">

        <ul class="tabs-nav blog">
            <li class="active"><a href="#tab1">热门</a></li>
            <li><a href="#tab2">专题</a></li>
            <li><a href="#tab3">最近访问</a></li>
        </ul>

        <!-- Tabs Content -->
        <div class="tabs-container">

            <div class="tab-content" id="tab1">

                <!-- Recent Posts -->
                <ul class="widget-tabs">

                    <!-- Post #1 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">最近的文章</a></h4>
                            <span>05/26/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <!-- Post #2 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">如何养车呢？</a></h4>
                            <span>04/20/2014</span>
                        </div>
                        <div class="clearfix"></div>

                    </li>

                    <!-- Post #3 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">线上保养的优劣</a></h4>
                            <span>10/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>

            </div>

            <div class="tab-content" id="tab2">

                <!-- Featured Posts -->
                <ul class="widget-tabs">

                    <!-- Post #1 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">如何选择适合的保养项目。</a></h4>
                            <span>19/04/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <!-- Post #2 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">电动车的保养前景</a></h4>
                            <span>28/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <!-- Post #3 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">用互联网思维思考汽车保养市场</a></h4>
                            <span>03/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="tab3">

                <!-- Recent Posts -->
                <ul class="widget-tabs">

                    <!-- Post #1 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">呵呵哈哈呵呵</a></h4>
                            <span>31/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <!-- Post #2 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">如何挑选机油</a></h4>
                            <span>16/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <!-- Post #3 -->
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html"><img src="images/blog-widget-01.png" alt="" /></a>
                        </div>

                        <div class="widget-text">
                            <h4><a href="blog-single-post.html">在线保养，用最优配置做最好的服务</a></h4>
                            <span>10/05/2014</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>

        </div>

    </div>


    <!-- Tags -->
    <div class="widget margin-top-10">
        <h3 class="headline">标签</h3><span class="line"></span><div class="clearfix"></div>

        <nav class="tags">
            <a href="#">摩圣</a>
            <a href="#">电子狗</a>
            <a href="#">雷达测速</a>
            <a href="#">善领</a>
            <a href="#">汽车</a>
            <a href="#">汽车保养</a>
            <a href="#">Ryan</a>
            <a href="#">Wesley</a>
        </nav>
    </div>

    <br>
    <br>

</div>


</div>
<!-- Container / End -->

<div class="margin-top-40"></div>