
<!-- Titlebar
================================================== -->
<section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.45" data-height="160">

    <img src="img/guanggao.jpg" alt="" />
    <div class="parallax-overlay"></div>


    <div class="parallax-content">
        <!--<h2>Shop <span>International Shipping</span></h2>-->

        <nav id="breadcrumbs">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">特价产品</a></li>
                <!--<li>Products</li>-->
            </ul>
        </nav>
    </div>

</section>


<div class="container">

<!-- Sidebar
================================================== -->
<div class="four columns">

    <!-- Categories -->
    <div class="widget margin-top-0">
        <h3 class="headline">目录</h3><span class="line"></span><div class="clearfix"></div>

        <ul id="categories">

            <li><a href="#">保养配件 <span>(8)</span></a>
                <ul>
                    <li><a href="#">机油滤清器 <span>(2)</span></a></li>
                    <li><a href="#">空气滤清器 <span>(2)</span></a></li>
                    <li><a href="#">刹车盘  <span>(1)</span></a></li>
                    <li><a href="#">刹车片 <span>(3)</span></a></li>

                    <li><a href="#">保养配件 <span>(8)</span></a>
                        <ul>
                            <li><a href="#">机油滤清器 <span>(2)</span></a></li>
                            <li><a href="#">空气滤清器 <span>(2)</span></a></li>
                            <li><a href="#">刹车盘  <span>(1)</span></a></li>
                            <li><a href="#">刹车片 <span>(3)</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a href="#">保养配件 <span>(8)</span></a>
                <ul>
                    <li><a href="#">机油滤清器 <span>(2)</span></a></li>
                    <li><a href="#">空气滤清器 <span>(2)</span></a></li>
                    <li><a href="#">刹车盘  <span>(1)</span></a></li>
                    <li><a href="#">刹车片 <span>(3)</span></a></li>
                </ul>
            </li>

            <li><a href="#">保养配件 <span>(8)</span></a>
                <ul>
                    <li><a href="#">机油滤清器 <span>(2)</span></a></li>
                    <li><a href="#">空气滤清器 <span>(2)</span></a></li>
                    <li><a href="#">刹车盘  <span>(1)</span></a></li>
                    <li><a href="#">刹车片 <span>(3)</span></a></li>
                </ul>
            </li>

            <li><a href="#">保养配件 <span>(8)</span></a>
                <ul>
                    <li><a href="#">机油滤清器 <span>(2)</span></a></li>
                    <li><a href="#">空气滤清器 <span>(2)</span></a></li>
                    <li><a href="#">刹车盘  <span>(1)</span></a></li>
                    <li><a href="#">刹车片 <span>(3)</span></a></li>
                </ul>
            </li>

            <li><a href="#">保养配件 <span>(8)</span></a>
                <ul>
                    <li><a href="#">机油滤清器 <span>(2)</span></a></li>
                    <li><a href="#">空气滤清器 <span>(2)</span></a></li>
                    <li><a href="#">刹车盘  <span>(1)</span></a></li>
                    <li><a href="#">刹车片 <span>(3)</span></a></li>
                </ul>
            </li>

            <li><a href="#">保养配件 <span>(8)</span></a>
                <ul>
                    <li><a href="#">机油滤清器 <span>(2)</span></a></li>
                    <li><a href="#">空气滤清器 <span>(2)</span></a></li>
                    <li><a href="#">刹车盘  <span>(1)</span></a></li>
                    <li><a href="#">刹车片 <span>(3)</span></a></li>
                </ul>
            </li>

            <li><a href="#">保养配件 <span>(8)</span></a>
                <ul>
                    <li><a href="#">机油滤清器 <span>(2)</span></a></li>
                    <li><a href="#">空气滤清器 <span>(2)</span></a></li>
                    <li><a href="#">刹车盘  <span>(1)</span></a></li>
                    <li><a href="#">刹车片 <span>(3)</span></a></li>
                </ul>
            </li>

        </ul>
        <div class="clearfix"></div>

    </div>


    <!-- Widget -->
    <div class="widget">
        <h3 class="headline">通过价格过滤</h3><span class="line"></span><div class="clearfix"></div>

        <div id="price-range">
            <div class="padding-range"><div id="slider-range"></div></div>
            <label for="amount">单价:</label>
            <input type="text" id="amount">
            <a href="#" class="button color">筛选</a>
        </div>
        <div class="clearfix"></div>
    </div>

</div>


<!-- Content
================================================== -->
<div class="twelve columns">

    <!-- Ordering -->
    <select class="orderby">
        <option>默认</option>
        <option>按最热门搜索</option>
        <option>按最新搜索</option>
    </select>

</div>

<!-- Products -->
<div class="twelve columns products">

<!-- Product #1 -->
<div class="four shop columns">
    <figure class="product">
        <div class="mediaholder">
            <a href="variable-product-page.html">
                <img alt="" src="img/item-01.jpg">
                <div class="cover">
                    <img alt="" src="img/item-01.jpg">
                </div>
            </a>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
        </div>

        <a href="variable-product-page.html">
            <section>
                <span class="product-category">保养</span>
                <h5>机油</h5>
                <span class="product-price">79.00</span>
            </section>
        </a>
    </figure>
</div>


<!-- Product #2 -->
<div class="four shop columns">
    <figure class="product">
        <div class="mediaholder">
            <a href="single-product-page.html">
                <img alt="" src="img/item-01.jpg">
                <div class="cover">
                    <img alt="" src="img/item-01.jpg">
                </div>
            </a>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
        </div>

        <a href="single-product-page.html">
            <section>
                <span class="product-category">保养</span>
                <h5>机油</h5>
                <span class="product-price">99.00</span>
            </section>
        </a>
    </figure>
</div>


<!-- Product #3 -->
<div class="four shop columns">
    <figure class="product">
        <div class="product-discount">热销</div>
        <div class="mediaholder">
            <a href="variable-product-page.html">
                <img alt="" src="img/item-01.jpg">
                <div class="cover">
                    <img alt="" src="img/item-01.jpg">
                </div>
            </a>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
        </div>

        <a href="variable-product-page.html">
            <section>
                <span class="product-category">保养</span>
                <h5>机油</h5>
                <span class="product-price-discount">499.00<i>399.00</i></span>
            </section>
        </a>
    </figure>
</div>


<!-- Product #4 -->
<div class="four shop columns">
    <figure class="product">
        <div class="mediaholder">
            <a href="variable-product-page.html">
                <img alt="" src="img/item-01.jpg">
                <div class="cover">
                    <img alt="" src="img/item-01.jpg">
                </div>
            </a>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
        </div>

        <a href="variable-product-page.html">
            <section>
                <span class="product-category">保养</span>
                <h5>机油</h5>
                <span class="product-price">49.00</span>
            </section>
        </a>
    </figure>
</div>


<!-- Product #5 -->
<div class="four shop columns">
    <figure class="product">
        <div class="mediaholder">
            <a href="single-product-page.html">
                <img alt="" src="img/item-01.jpg">
                <div class="cover">
                    <img alt="" src="img/item-01.jpg">
                </div>
            </a>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
        </div>

        <a href="single-product-page.html">
            <section>
                <span class="product-category">保养</span>
                <h5>机油</h5>
                <span class="product-price">29.00</span>
            </section>
        </a>
    </figure>
</div>


<!-- Product #6 -->
<div class="four shop columns">
    <figure class="product">
        <div class="mediaholder">
            <a href="variable-product-page.html">
                <img alt="" src="img/item-01.jpg">
                <div class="cover">
                    <img alt="" src="img/item-01.jpg">
                </div>
            </a>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
        </div>

        <a href="variable-product-page.html">
            <section>
                <span class="product-category">保养</span>
                <h5>机油</h5>
                <span class="product-price">29.00</span>
            </section>
        </a>
    </figure>
</div>


<!-- Product #7 -->
<div class="four shop columns">
    <figure class="product">
        <div class="mediaholder">
            <a href="variable-product-page.html">
                <img alt="" src="img/item-01.jpg">
                <div class="cover">
                    <img alt="" src="img/item-01.jpg">
                </div>
            </a>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
        </div>

        <a href="variable-product-page.html">
            <section>
                <span class="product-category">保养</span>
                <h5>机油</h5>
                <span class="product-price">49.00</span>
            </section>
        </a>
    </figure>
</div>


<!-- Product #8 -->
<div class="four shop columns">
    <figure class="product">
        <div class="mediaholder">
            <a href="single-product-page.html">
                <img alt="" src="img/item-01.jpg">
                <div class="cover">
                    <img alt="" src="img/item-01.jpg">
                </div>
            </a>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
        </div>

        <a href="single-product-page.html">
            <section>
                <span class="product-category">保养</span>
                <h5>机油</h5>
                <span class="product-price">99.00</span>
            </section>
        </a>
    </figure>
</div>


<!-- Product #9 -->
<div class="four shop columns">
    <figure class="product">
        <div class="mediaholder">
            <a href="single-product-page.html">
                <img alt="" src="img/item-01.jpg">
                <div class="cover">
                    <img alt="" src="img/item-01.jpg">
                </div>
            </a>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
        </div>

        <a href="single-product-page.html">
            <section>
                <span class="product-category">保养</span>
                <h5>机油</h5>
                <span class="product-price">69.00</span>
            </section>
        </a>
    </figure>
</div>
<div class="clearfix"></div>


<!-- Pagination -->
<div class="pagination-container">
    <nav class="pagination">
        <ul>
            <li><a href="#" class="current-page">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </nav>

    <nav class="pagination-next-prev">
        <ul>
            <li><a href="#" class="prev"></a></li>
            <li><a href="#" class="next"></a></li>
        </ul>
    </nav>
</div>

</div>

</div>

<div class="margin-top-15"></div>
