<!-- Titlebar
================================================== -->
<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>商品</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">商品</a></li>
                    <!--<li>Shirts</li>-->
                </ul>
            </nav>
        </div>
    </div>
</section>


<div class="container">

    <!-- Slider
    ================================================== -->
    <div class="eight columns" >
        <div class="slider-padding">
            <div id="product-slider" class="royalSlider rsDefault">
                <img class="rsImg" src="img/item-01.jpg" data-rsTmb="img/item-01.jpg" alt="" />
                <img class="rsImg" src="img/item-01.jpg" data-rsTmb="img/item-01.jpg" alt="" />
                <img class="rsImg" src="img/item-01.jpg" data-rsTmb="img/item-01.jpg" alt="" />
                <img class="rsImg" src="img/item-01.jpg" data-rsTmb="img/item-01.jpg" alt="" />
                <img class="rsImg" src="img/item-01.jpg" data-rsTmb="img/item-01.jpg" alt="" />
                <img class="rsImg" src="img/item-01.jpg" data-rsTmb="img/item-01.jpg" alt="" />
                <img class="rsImg" src="img/item-01.jpg" data-rsTmb="img/item-01.jpg" alt="" />
                <img class="rsImg" src="img/item-01.jpg" data-rsTmb="img/item-01.jpg" alt="" />
                <img class="rsImg" src="img/item-01.jpg" data-rsTmb="img/item-01.jpg" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="eight columns">
        <div class="product-page">

            <!-- Headline -->
            <section class="title">
                <h2>机油</h2>
                <span class="product-price-discount">39.00<i>29.00</i></span>

                <div class="reviews-counter">
                    <div class="rating five-stars">
                        <div class="star-rating"></div>
                        <div class="star-bg"></div>
                    </div>
                    <span>浏览(3)</span>
                </div>
            </section>

            <!-- Text Parapgraph -->
            <section>
                <p class="margin-reset">天然好机油</p>

                <!-- Share Buttons -->
                <div class="share-buttons">
                    <ul>
                        <li><a href="#">分享</a></li>
                        <li class="share-facebook"><a href="#">新浪微博</a></li>
                        <li class="share-twitter"><a href="#">腾讯微博</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>

            </section>


            <!--&lt;!&ndash; Variables &ndash;&gt;-->
            <!--<section class="variables">-->

                <!--<div class="four alpha columns">-->
                    <!--<label for="size">Size</label>-->
                    <!--<select id="size" name="size">-->
                        <!--<option>S</option>-->
                        <!--<option>M</option>-->
                        <!--<option>L</option>-->
                        <!--<option>XL</option>-->
                    <!--</select>-->
                <!--</div>-->

                <!--<div class="four omega columns">-->
                    <!--<label for="color">Color</label>-->
                    <!--<select id="color" name="color">-->
                        <!--<option>Blue</option>-->
                        <!--<option>Green</option>-->
                        <!--<option>Red</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->

            <!--</section>-->


            <section class="linking">

                <form action='#'>
                    <div class="qtyminus"></div>
                    <input type='text' name="quantity" value='1' class="qty" />
                    <div class="qtyplus"></div>
                </form>

                <a href="#" class="button adc">添加到购物车</a>
                <div class="clearfix"></div>

            </section>

        </div>
    </div>

</div>


<div class="container">
    <div class="sixteen columns">
        <!-- Tabs Navigation -->
        <ul class="tabs-nav">
            <li class="active"><a href="#tab1">产品描述</a></li>
            <li><a href="#tab2">额外信息</a></li>
            <li><a href="#tab3">浏览 <span class="tab-reviews">(3)</span></a></li>
        </ul>

        <!-- Tabs Content -->
        <div class="tabs-container">

            <div class="tab-content" id="tab1">
                <p>天然好机油</p>
            </div>

            <div class="tab-content" id="tab2">

                <!--<table class="basic-table">-->
                    <!--<tr>-->
                        <!--<th>Size</th>-->
                        <!--<td>Small, Medium, Largem, Extra Large</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<th>Colors</th>-->
                        <!--<td>Blue, color, Red</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<th>Material</th>-->
                        <!--<td>75% Cotton, 25% Polyester</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<th>Weight</th>-->
                        <!--<td>N/A</td>-->
                    <!--</tr>-->
                <!--</table>-->

            </div>

            <div class="tab-content" id="tab3">

                <!-- Reviews -->
                <section class="comments">

                    <ul>
                        <li>
                            <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                            <div class="comment-content"><div class="arrow-comment"></div>
                                <div class="comment-by"><strong>Barry</strong><span class="date">5/28/2014</span>
                                    <div class="rating five-stars"><div class="star-rating"></div><div class="star-bg"></div></div>
                                </div>
                                <p>绝对划算.</p>
                            </div>
                        </li>

                        <li>
                            <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                            <div class="comment-content"><div class="arrow-comment"></div>
                                <div class="comment-by"><strong>Sonic</strong><span class="date">5/18/2014</span>
                                    <div class="rating five-stars"><div class="star-rating"></div><div class="star-bg"></div></div>
                                </div>
                                <p>好的不得了</p>
                            </div>
                        </li>

                        <li>
                            <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                            <div class="comment-content"><div class="arrow-comment"></div>
                                <div class="comment-by"><strong>Wiskey</strong><span class="date">5/10/2014</span>
                                    <div class="rating four-stars"><div class="star-rating"></div><div class="star-bg"></div></div>
                                </div>
                                <p>凑活</p>
                            </div>

                        </li>
                    </ul>

                    <a href="#small-dialog" class="popup-with-zoom-anim button color">评价它</a>

                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                        <h3 class="headline">添加评价</h3><span class="line margin-bottom-25"></span><div class="clearfix"></div>

                        <!-- Form -->
                        <form id="add-comment" class="add-comment">
                            <fieldset>

                                <div>
                                    <label>姓名:</label>
                                    <input type="text" value="">
                                </div>

                                <div>
                                    <label>投票:</label>
										<span class="rate">
											<span class="star"></span>
											<span class="star"></span>
											<span class="star"></span>
											<span class="star"></span>
											<span class="star"></span>
										</span>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="margin-top-20">
                                    <label>邮箱: <span>*</span></label>
                                    <input type="text" value="">
                                </div>

                                <div>
                                    <label>评价: <span>*</span></label>
                                    <textarea cols="40" rows="3"></textarea>
                                </div>

                            </fieldset>

                            <a href="#" class="button color">添加评价</a>
                            <div class="clearfix"></div>

                        </form>
                    </div>

                </section>

            </div>

        </div>
    </div>
</div>

<!-- Related Products -->
<div class="container margin-top-5">

    <!-- Headline -->
    <div class="sixteen columns">
        <h3 class="headline">相关产品</h3>
        <span class="line margin-bottom-0"></span>
    </div>

    <!-- Products -->
    <div class="products">

        <!-- Product #1 -->
        <div class="four columns">
            <figure class="product">
                <div class="mediaholder">
                    <a href="#">
                        <img alt="" src="img/item-01.jpg">
                        <div class="cover">
                            <img alt="" src="img/item-01.jpg">
                        </div>
                    </a>
                    <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
                </div>

                <a href="#">
                    <section>
                        <span class="product-category">保养</span>
                        <h5>机油</h5>
                        <span class="product-price">79.00</span>
                    </section>
                </a>
            </figure>
        </div>

        <!-- Product #2 -->
        <div class="four columns">
            <figure class="product">
                <div class="mediaholder">
                    <a href="#">
                        <img alt="" src="img/item-01.jpg">
                        <div class="cover">
                            <img alt="" src="img/item-01.jpg">
                        </div>
                    </a>
                    <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
                </div>

                <a href="#">
                    <section>
                        <span class="product-category">保养</span>
                        <h5>机油</h5>
                        <span class="product-price">49.00</span>
                    </section>
                </a>
            </figure>
        </div>

        <!-- Product #3 -->
        <div class="four columns">
            <figure class="product">
                <div class="mediaholder">
                    <a href="#">
                        <img alt="" src="img/item-01.jpg">
                        <div class="cover">
                            <img alt="" src="img/item-01.jpg">
                        </div>
                    </a>
                    <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
                </div>

                <a href="#">
                    <section>
                        <span class="product-category">保养</span>
                        <h5>机油</h5>
                        <span class="product-price">49.00</span>
                    </section>
                </a>
            </figure>
        </div>

        <!-- Product #4 -->
        <div class="four columns">
            <figure class="product">
                <div class="mediaholder">
                    <a href="#">
                        <img alt="" src="img/item-01.jpg">
                        <div class="cover">
                            <img alt="" src="img/item-01.jpg">
                        </div>
                    </a>
                    <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> 添加到购物车</a>
                </div>

                <a href="#">
                    <section>
                        <span class="product-category">保养</span>
                        <h5>机油</h5>
                        <span class="product-price">69.00</span>
                    </section>
                </a>
            </figure>
        </div>

    </div>
</div>

<div class="margin-top-50"></div>